<template>
    <div id="app">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-3 border-right" id="sticky-sidebar">
                    <ul id="menubar" class="sticky-top">
                        <li class="logo">
                            <img src="./assets/twitter-logo.png" 
                                alt="Logo"
                                width="50"
                                height="50"
                            />
                        </li>
                        <li class="menu" v-for="(item, i) in menu" :key="i">
                            <a href="#">
                                <b-icon :icon="item.icon" class="menu-icon"></b-icon> {{ item.nama }}
                            </a>
                        </li>
                        <li class="menu" id="tweet">
                            Tweet
                        </li>
                        <li class="menu" id="profile">
                            <div class="row">
                                <div class="col-sm-3">
                                    <img src="./assets/profile.png" alt="Profile" id="foto-profile">
                                </div>
                                <div class="col">
                                    <div class="d-flex justify-content-between">
                                        <div>
                                            <b>Rijwan</b> <br>
                                            @rijwan
                                        </div>
                                        <div>
                                            <b-icon icon="three-dots"></b-icon>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div id="main" class="col">
                    <div class="sticky pb-2">
                        <div class="row mb-1">
                            <div class="col-sm-7 border-right border-bottom">
                                <div class="d-flex justify-content-between">
                                    <h5><b>Home</b></h5>
                                    <b-icon icon="stars"></b-icon>
                                </div>
                            </div>
                            <div class="col-sm">
                                <input type="text" 
                                    name="search" 
                                    id="search" 
                                    class="form-control" 
                                    placeholder="Search Twitter">
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="row pt-3">
                            <div class="col-sm-7">
                                <div class="row text-right border-bottom">
                                    <div class="col-sm-2">
                                        <img src="./assets/profile.png" alt="Profile" class="profile-pic">
                                    </div>
                                    <div class="col-sm">
                                        <b-form-input 
                                            id="input-large" 
                                            v-model="status" 
                                            class="form-tweet" 
                                            size="lg" 
                                            placeholder="What's happening?">
                                        </b-form-input>
                                        <div class="border-bottom text-left pl-3 pb-3">
                                            <small><a href="#"><b><b-icon icon="globe" /> Everyone can reply</b></a></small>
                                        </div>
                                        <div class="pl-3 py-3">
                                            <div class="d-flex justify-content-between">
                                                <div class="text-primary mt-2">
                                                    <b-icon icon="image" class="mr-3" />
                                                    <b-icon icon="filter-left" class="mr-3" />
                                                    <b-icon icon="emoji-smile" class="mr-3" />
                                                    <b-icon icon="calendar" class="mr-3" />
                                                    <b-icon icon="geo-alt" class="mr-3" />
                                                </div>
                                                <button class="btn" id="submit" @click="posted()" :disabled="!status">
                                                    Tweet
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div v-for="(item, i) in tweets" :key="i" class="border-bottom text-left tweets">
                                    <div class="row my-1 py-1">
                                        <div class="col-sm-2">
                                            <img :src="require(`@/assets/${item.image}`)" alt="Profile" class="profile-pic">
                                        </div>
                                        <div class="col-sm">
                                            <div class="d-flex justify-content-between">
                                                <div>
                                                    <b>{{ item.name }}</b> <span class="text-muted">{{ item.username }} . {{ moment(item.published_at).startOf('second').fromNow('ll') }} </span> 
                                                </div>
                                                <b-icon icon="three-dots"></b-icon>
                                            </div>
                                            <div>
                                                {{ item.tweet }}
                                            </div>
                                            <div class="d-flex justify-content-between">
                                                <small title="Comment"><b-icon icon="chat" /> {{ item.comment }}</small>
                                                <small title="Retweet"><b-icon icon="arrow-down-up" /> {{ item.retweet }}</small>
                                                <small title="Like"><b-icon icon="heart" /> {{ item.like }}</small>
                                                <small title="Share"><b-icon icon="upload" /></small>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm">
                                <div class="card" id="trends">
                                    <div class="card-header">
                                        <b>Trends for you</b>
                                    </div>
                                    <template v-for="(item, i) in trends">
                                        <div :key="i" class="py-1 px-2 list my-1">
                                            <div class="d-flex justify-content-between">
                                                <small class="text-muted">{{ item.kategori }} . Trending</small>
                                                <b-icon icon="three-dots"></b-icon>
                                            </div>
                                            <b>{{ item.nama }}</b>
                                            <div class="text-muted">
                                                <small>{{ item.total }} Tweets</small>
                                            </div>
                                        </div>
                                    </template>
                                    <div class="card-footer">
                                        <a href="#">Show more</a>
                                    </div>
                                </div>
                                <div class="card my-3" id="suggention">
                                    <div class="card-header">
                                        <b>Who to follow</b>
                                    </div>
                                    <div class="card-body">

                                        <div class="row px-0 py-2 suggestion">
                                            <div class="col-sm-2">
                                                <img src="./assets/profile.png" alt="Profile" id="foto-profile">
                                            </div>
                                            <div class="col">
                                                <b>Dusan</b> <br>
                                                @dusan23
                                            </div>
                                            <div class="col-sm-3">
                                                <button class="btn btn-dark" style="border-radius: 30px;">Follow</button>
                                            </div>
                                        </div>
                                        <div class="row px-0 py-2 suggestion">
                                            <div class="col-sm-2">
                                                <img src="./assets/profile.jpg" alt="Profile" id="foto-profile">
                                            </div>
                                            <div class="col">
                                                <b>Hover</b> <br>
                                                @hov3r
                                            </div>
                                            <div class="col-sm-3">
                                                <button class="btn btn-dark" style="border-radius: 30px;">Follow</button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-footer">
                                        <a href="#">Show more</a>
                                    </div>
                                </div>
                                <div class="my-3" id="menu-footer">
                                    <a href="#" class="mr-2">Terms of Service</a> &nbsp; 
                                    <a href="#" class="mr-2">Privacy Policy</a>
                                    <a href="#" class="mr-2">Cookie Policy</a>
                                    <br>
                                    <a href="#" class="mr-2">Accesibility</a> &nbsp; 
                                    <a href="#" class="mr-2">Ads info</a>
                                    <a href="#" class="mr-2">More <b-icon icon="three-dots"></b-icon></a>
                                    <br>
                                    <p>&copy; 2022 Twitter, Inc.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import moment from 'moment';
export default {
    name: 'App',
    data() {
        return {
            status: '',
        }
    },
    methods: {
        moment: function (v) {
            return moment(v);
        },
        posted(){
            let data = {
                name: "Rijwan",
                username: "@rijwan",
                image: "profile.png",
                published_at: moment().format(),
                tweet: this.status,
                like: 0,
                retweet: 0,
                comment: 0
            }
            this.$store.commit("addTweet", data);
            this.status = '';
        }
    },
    computed: {
        menu(){
            return this.$store.state.menu;
        },
        trends(){
            return this.$store.state.trends;
        },
        tweets(){
            return this.$store.state.tweets;
        },
    }
}
</script>

<style>
    #app {
        font-family: Avenir, Helvetica, Arial, sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        color: #2c3e50;
    }
    #header{
        /* border-right: 1px solid rgb(193, 186, 186); */
        height: 100%;
        text-align: left;
        padding-right: 20px;
        position: fixed;
    }
    ul li {
        list-style: none;
    }
    ul#menubar li {
        padding: 10px;
    }
    ul#menubar li.logo {
        margin-bottom: 5px;
        padding: 10px;
    }
    ul#menubar li.menu a {
        text-decoration: none;
        font-size: 20px;
        color: #000;
        padding: 15px;
        font-family: inherit;
    }
    ul#menubar li.menu a:hover {
        background-color: #e4e4e4;
        border-radius: 30px;
    }
    ul#menubar li.menu a .menu-icon {
        margin-right: 20px;
    }
    #tweet {
        width: 100%;
        text-align: center;
        background-color: rgb(29, 155, 240);
        margin-right: -20px;
        border-radius: 20px;
        font-weight: bold;
        cursor: pointer;
        color: white;
        margin-top: 20px;
    }
    #profile{
        padding-top: 40px;
    }
    div.sticky{
        position: -webkit-sticky;
        position: sticky; 
        top:0; 
        background-color: #fff;
        color: black;
        z-index: 1000;
    }
    #foto-profile{
        width: 50px;
        height: 50px;
        border-radius: 50%;
    }
    .profile-pic{
        width: 60px;
        height: 60px;
        border-radius: 50%;
    }
    #main{
        padding-top: 10px;
        /* padding-right: 10px; */
    }
    input#search{
        border-radius: 30px;
        background-color: rgb(239, 234, 234);
    }
    #trends{
        background-color: rgb(254, 254, 254);
        border-radius: 10px;
    }
    #trends .list:hover{
        background-color: rgb(234, 227, 227);
        cursor: pointer;
    }
    #suggestion{
        background-color: rgb(254, 254, 254);
        border-radius: 10px;
    }
    .suggestion:hover {
        background-color: rgb(234, 227, 227);
        cursor: pointer;
    }
    #input-large{
        border: none;
        height: calc(2em + 1.5rem + 3px);
    }
    #input-large:focus{
        color: #495057;
        box-shadow: 0 0 0 0.2rem #fff;
    }
    #submit{
        border-radius: 30px;
        background-color: rgb(29, 155, 240);
        color: white;
        font-weight: bold;
    }
    .tweets:hover{
        cursor: pointer;
        background-color: rgb(247, 247, 247);
    }
    #menu-footer a {
        font-size: 9pt;
        color: gray;
    }
    #menu-footer p {
        font-size: 9pt;
        color: gray;
    }
</style>
